@charset "UTF-8";

.el-aside.el_left {
  padding: 20px;
  background: #f5f5f5;
  width: 25% !important;
  min-width: 300px;
}

.el_left .el_name {
  font-size: 14px;
  color: #666666;
}

.el_th, .el_th th, .td_index {
  background: #f3f4f7;
}

.el_main {
  padding: 0;
  border: 10px solid #c2c7d2;
}

.el_right {
  width: 275px;
  background: #f5f5f5;
  overflow: hidden !important;
  border-right: 1px solid #d2dae9;
}

.el_left, .el_main, .el_right, .el_body, .el_box, .el_box section {
  height: 100%;
}

.report_box {
  margin-top: 20px;
  position: relative;
}

.report_right {
  width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.el_body {
  padding-bottom: 35px;
}

.el-collapse-item__header {
  padding-left: 10px;
}

.el-collapse-item__content {
  height: 100%;
  padding: 0 !important;
  background: #f5f5f5;
  overflow: auto;
}

.el-collapse-item__content .el-col {
  margin: 2px 0;
}

.el-collapse-item__content .el-row {
  margin-top: 0 !important;
  margin-bottom: 10px;
}

.view_item {
  cursor: pointer;
  border: 2px solid transparent;
  text-align: center;
  line-height: 40px;
}

.view_item:hover,
.view_item.active {
  border-color: #03b27f;
}

.view_item img {
  width: 100%;
  height: auto;
  margin-top: 0 !important;
}

.row_name {
  font-size: 14px;
  color: #666666;
  padding: 0 10px;
}

.el-collapse-item__wrap {
  height: calc(100vh - 400px);
  min-height: 400px;
}

.el_left .el-table {
  min-height: 400px;
}

.el_left .el-dialog .el-table {
  min-height: 10px;
}

.axis_radio .el-radio__label {
  display: none !important;
}

.axis_check .el-checkbox {
  margin-right: 0 !important;
}

.axis_name {
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
}

.grid_title {
  background: #e9e9e9;
  line-height: 40px;
}

.grid_name {
  text-align: right;
  line-height: 32px;
  font-size: 12px;
  padding-right: 10px;
}

.c_box_1 .el-row {
  padding: 0 13px;
  overflow: hidden;
  width: 264px;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.c_box_3 .el-row {
  margin-top: 10px !important;
  line-height: 32px;
}

.c_box_3 .el-input-number .el-input__inner {
  text-align: left;
}

.radio_icon .el-radio__inner {
  display: none;
}

.radio_icon .el-radio__label {
  margin-right: 5px;
  padding: 2px 5px;
}

.radio_icon .el-radio__input.is-checked + .el-radio__label {
  background: #c2c2c2;
  color: #ffffff !important;
}

.radio_icon .el-radio + .el-radio {
  margin-left: 0;
}

.c_box_4 .el-collapse-item__content {
  padding: 0 10px !important;
}

.color_line {
  margin-top: 15px;
  border: 3px solid transparent;
  cursor: pointer;
}

.color_default{
  text-align: center;
  line-height: 40px;
  background: #ffffff;
}

.color_line img {
  margin-top: 0;
}

.color_line.active, .color_line:hover {
  border-color: #03b27f;
}

.data_edit_icon {
  text-align: center;
  width: 80px;
  height: 40px;
  overflow: hidden;
  line-height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -40px;
}

.data_edit_icon i {
  position: initial;
  margin: 0;
  display: inline-block;
  cursor: pointer;
}

.tip-p {
  width: 100%;
  font-size: 14px;
  color: #cccccc;
}

.cl_table .el-table {
  overflow: initial;
}

.cl_table .el-table div {
  overflow-x: initial !important;
  overflow-y: initial !important;
}

.top_save {
  top: -40px !important;
}

.tool_name{
  line-height: 40px;
  text-align: right;
}

.c_box_3 .el-input input{
  padding-left: 5px;
}

.text_style .el-input{
  font-size: 12px;
}

.c_box_3 .el-input-number--small .el-input__inner{
  padding-left: 39px;
}
